<div class="container">
    <div class="row">
        <div class="col">
        </div>
        <div class="col">
            <h1><%= t :new_listing %></h1>
            <form>
                <%= render 'form', listing: @listing %>

                <%= link_to 'Back', listings_path %>
            </form>
            
        </div>
        <div class="col">
        </div>
    </div>
</div>